*{
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to left,#C20000,#DD0000,#F74A4A);
    height: 100%;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}

header{
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

button{
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
}

#dado {
    text-align: center;
    font-weight: 900;
    align-items: center;
    margin-top: 20px;
    font-size: 2em;
    width: 70px;
    height: 70px;
}

.centralizado {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%,-50%);
}

.resultado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button:hover {
    background-color: black;
    color: white;
}

#brincando_com_o_selct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#teste_imagem {
    width: 65px;
    height: 65px;
    z-index: -1;
}