body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;    
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

header img {
  width: 70px;
  height: 70px;
}

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform .5s ease, height .2s ease;
}


.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}


.wrapper .form-box.login{
  transition: transform .18s  ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}



.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px); 
}


.wrapper.active .form-box.register{
  transition: transform .18s  ease;
  transform: translateX(0);
}

.wrapper .icon-close{
  position: absolute;
  top: 15px;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: var(--tituloh2);
  color: var(--preto);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: var(--tituloh2);
    color: var(--preto);
    text-align: center;
}

.input-box{
  position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;
}

.input-box label {
  position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: var(--tamanho-normal);
    color: var(--preto);
    font-weight: var(--medium);
    pointer-events: none;
    transition: 0.1s;
}


.input-box input:focus~label, 
  .input-box input:valid~label {
    top:-7px;
  }



.input-box input{
  width: 100%;
    height: 100%;
    background: var(--transparente);
    border: none;
    outline: none;
    font-size: var(--tamanho-normal);
    color: var(--preto);
    font-weight: var(--semibold);
    padding: 0 35px 0 10px;
}


.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: var(--tamanho-maiorzinho);
  color: var(--preto);
  line-height: 40px;
}


.remember-forgot {
  font-size: var(--tamanho-menorzinho);
    color: var(--preto);
    font-weight: var(--medium);
    margin: 10px 0 20px 0 ;
    display: flex;
    justify-content: center;
}

.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}

.remember-forgot a {
  color: var(--preto);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btnlogin, .btnregister {
    color: var(--branco);
    border: none;
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: var(--tamanho-normal);
    font-weight: var(--semibold);
    padding: 5px;
}

.login-register {
    font-size: var(--tamanho-menorzinho);
    color: var(--preto);
    text-align: center;
    font-weight: var(--semibold);
    margin: 10px 0 -20px 0;  
}

.login-register p a {
  color: var(--preto);
  text-decoration: none;
  font-weight: var(--semibold);
}


.login-register p a:hover{
  text-decoration: underline;
}